<!DOCTYPE html>
<html>

<head>

<title>Admin Dashboard</title>

<link rel="stylesheet" href="/css/style.css">

</head>


<body>


<div class="result-container">


<h1>
Welcome <%= admin.username %>
</h1>


<hr>


<h2>
All Downloader Pro Admin Panel
</h2>


<p>
Manage downloads, users and website settings.
</p>


<br>


<a class="btn-premium"
href="/admin/logout">

Logout

</a>


</div>


</body>

</html>
