<!DOCTYPE html>
<html>

<head>

<title>Your QR Code</title>

<link rel="stylesheet" href="/css/style.css">

</head>


<body>


<div class="result-container">


<h1>
Your QR Code
</h1>


<img 
src="<%= qr %>"
width="300"
>


<br><br>


<a 
class="btn-premium"
download="qr.png"
href="<%= qr %>"
>

Download QR

</a>


<p>

<%= url %>

</p>


</div>


</body>

</html>
