<!DOCTYPE html>
<html>

<head>

<title>QR Generator</title>

<link rel="stylesheet" href="/css/style.css">

</head>


<body>


<div class="result-container">


<h1>
🔳 QR Code Generator
</h1>


<form method="POST"
action="/qr/generate">


<input

type="url"

name="url"

placeholder="Enter URL"

required

>


<br><br>


<button class="btn-premium">

Generate QR

</button>


</form>


</div>


</body>

</html>
